<button onClick={{action 'largeDec'}}>&laquo;</button>
<button onClick={{action 'smallDec'}}>&lsaquo;</button>
<input value={{value}} disabled>
<button onClick={{action 'smallInc'}}>&rsaquo;</button>
<button onClick={{action 'largeInc'}}>&raquo;</button>
